{% extends "base.html" %}
{% block title %}登录注册{% endblock%}
{% block css %}/static/styles/pages/login.css{% endblock%}
{% block content %}
<main class="main login-main" role="main">

    <article class="login-cont clearfix">
        <div class="login-pic-box">
            <img src="static/images/res/nkFamily.jpg">
        </div>
        <div class="login-wrapper">
            <div class="login-box">
                <form></form>
            </div>>
        </div>
    </article>

</main>
{% endblock%}